.service {
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 7px 1px;
}

.service-img img {
    width: 434px;
    border-radius: 10px;
}

.service-details {
    padding: 5px;
}